*, *::after, *::backdrop {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/typography";
@import "partials/spacing";
@import "partials/icons";
@import "partials/buttons";
@import "partials/layout";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  font-family: 'Hind', sans-serif;;

  scroll-behavior: smooth;

  background: #FFF;
}

svg, img {
  display: block;
  width: 100%; 
}

.border {
  border: 1px solid red;
}

@import "partials/menu";
@import "partials/swiper";
@import "partials/footer";
@import "partials/animations";