$width-card: 340px;
$height-card: .64 * $width-card;

@mixin bg-img-transition($bg1, $bg2, $border-r, $delay){  
  position: relative;  
  z-index: 100;
  &:before, &:after {
    background-size: cover;  
    border-radius: $border-r;
    content: '';    
    display: block;
    height: 95%;
    position: absolute;
    top: 0; left: 0;    
    width: 95%;    
  }
  &:before {    
    z-index: -101;
    background-image: url("#{$bg1}");
    background-position: center;  
  }
  &:after {    
    z-index: -100;
    opacity: 0;
    background-image: url("#{$bg2}");  
    background-position: center;  
    animation: changebg 20s ease $delay infinite alternate-reverse;
  }

  @keyframes changebg {
    0%, 40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

.div-card {
  perspective: 1200px;
  position: relative;
  padding: 96px;
  display: flex;
  justify-content: center;

  @include responsive(sm) {
    width: 100%;
    padding: 0;
    margin-top: 96px;
  }
}

.card {
  width: $width-card * 1.15;
  height: $height-card * 1.15;
  border-radius: 12px;
  transform-origin: center center;
  transform-style: preserve-3d;
  animation: 
    flip-card 12s linear infinite alternate,
    change-bg-card 12s linear infinite alternate;
}


@keyframes flip-card {
  0% {
    transform: rotateY(-10deg) rotateX(10deg) rotateX(-15deg);
  }
  40% {
    transform: rotateY(0deg) rotateX(20deg);
  }
  60% {
    transform: rotateY(180deg) rotateX(20deg);
  }
  100% {
    transform: rotateY(190deg) rotateX(10deg) rotateX(15deg);
  }
}

@keyframes change-bg-card {
  0%,49.8% {
    background-image: url("../../svg/iti.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  50%,100% {
    background-image: url("../../svg/iti-verse.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}


.icon-card-hero {
  position: absolute;
  top: 2%;
  left: 25%;
  z-index: 99;
  animation: icons-hero-1 7s ease .5s infinite alternate;

  @include responsive(sm) {
    top: -35%;
    left: 60%;
  }

  @include responsive(xs) {
    top: -30%;
    left: 40%;
  }
}

.icon-wireless-hero {
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: 99;
  animation: icons-hero-2 7s ease 1s infinite alternate;
  @include responsive(sm) {
    left: -10%;
  }

  @include responsive(xs) {
    top: -20%;
    left: -35%;
  }
}

.icon-phone-hero {
  position: absolute;
  top: 70%;
  left: 45%;
  z-index: 99;
  animation: icons-hero-3 7s ease 2.5s infinite alternate;

  @include responsive(xs) {
    top: 50%;
    left: 15%;
  }
}

@keyframes icons-hero-1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-10px, 40px, 0);
  }
}

@keyframes icons-hero-2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(20px, -20px, 0);
  }
}

@keyframes icons-hero-3 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -20px, 0);
  }
}

.card1 {
  animation: bg-hero-rect 3s ease .3s infinite alternate;
}

.card2 {
  animation: bg-hero-rect 3s ease .9s infinite alternate;
}

.card3 {
  animation: bg-hero-rect 3s ease 2s infinite alternate;
}

.card4 {
  animation: bg-hero-rect 3s ease 3.5s infinite alternate;
}

@keyframes bg-hero-rect {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

.people-1 {
  height: 620px;
  width: 100%;
  max-width: 100%;
  padding: 48px;
  background-size: cover;
  @include bg-img-transition("../../img/people2.jpg", "../../img/people3.jpg", 80px, 0s);

  @include responsive(md) {
    height: 400px
  }

  @include responsive(sm) {
    height: 420px !important;
    width: 300px !important;
    position: absolute;
    top: -350px;
    left: 200px;
  }

  @include responsive(xs) {
    display: none;
  }
}

.people-box {
  display: flex;
  flex-direction: column;

  @include responsive(sm) {
    display: none;
  }
}

.people-2 {
  height: 460px;
  width: 100%;
  background-size: cover;
  @include bg-img-transition("../../img/people1.jpg", "../../img/people5.jpg", 80px, 4s);

  @include responsive(md) {
    height: 360px
  }

  @include responsive(sm) {
    display: none;
  }
}

.people-3 {
  height: 340px;
  width: 100%;
  background-size: cover;
  @include bg-img-transition("../../img/people4.jpg", "../../img/people6.jpg", 80px, 9s);

  @include responsive(sm) {
    display: none;
  }
}

.people-box-1 {
  position: relative;
  height: 420px !important;
  width: 300px !important;

  @include responsive(sm) {
    display: none;
  }
}