// Brand colors
$primary-color: #FE3386;
$primary-shade: #C62869;
$primary-tint: #FE70AA;
$primary-light: #FFE0F0;

$secondary-color: #38475C;
$secondary-shade: #2B384B;
$secondary-tint: #96A0AE;
$secondary-light: #FCFBFA;

$light: #FFF5FA;
$dark: #090105;

$gradient-main: linear-gradient(135.79deg, #E96401 0.6%, #FD4D7C 99.22%);
// $gradient-pink1: linear-gradient(315deg, #FE3386 0%, rgba(254, 51, 134, 0) 94.35%);zzz
// $gradient-pink2: linear-gradient(270deg, #FE3386 0%, rgba(254, 51, 134, 0) 95.04%);

// Support Colors
$error: #EB3D3D;
$error-tint: #F05454;
$error-shade: #F03333;

$success: #32D957;
$success-tint: #50E170;
$success-shade: #28BB49;

$warning: #FFCE52;
$warning-tint: #FFD76B;
$warning-shade: #D9B043;

$info: #5271FF;
$info-tint: #6B86FF;
$info-shade: #435ED9;

// Base Colors
$gray-1: #A7A6A7;
$gray-2: #979596;
$gray-3: #878586;
$gray-4: #767576;
$gray-5: #666566;
$gray-6: #565455;
$gray-7: #464445;
$gray-8: #262425;
$gray-9: #181718;

// Shadows
$shadow-color: 0px 51px 80px rgba(254, 51, 134, 0.04), 0px 15.375px 24.1177px rgba(254, 51, 134, 0.0321), 0px 6.38599px 10.0172px rgba(254, 51, 134, 0.02), 0px 2.30969px 3.62304px rgba(254, 51, 134, 0.0079);
$shadow-black: 0px 47px 111px rgba(9, 1, 5, 0.05), 0px 14.1691px 33.4632px rgba(9, 1, 5, 0.0275), 0px 5.88513px 13.8989px rgba(9, 1, 5, 0.0226), 0px 2.12854px 5.02697px rgba(9, 1, 5, 0.00956835);