$container-xl: 1440px;
$container-lg: 1140px;
$container-md: 960px;
$container-sm: 540px;

@mixin responsive($device) {
  @if $device == xl {
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  @if $device == lg {
    @media screen and (max-width: $container-xl) and (min-width: $container-lg) {
      @content;
    }
  }

  @if $device == md {
    @media screen and (max-width: $container-lg) and (min-width: $container-md) {
      @content;
    }
  }

  @if $device == sm {
    @media screen and (max-width: $container-md) {
      @content;
    }
  }

  @if $device == xs {
    @media screen and (max-width: $container-sm) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(sm) {
    flex-direction: column;
    padding: 32px 24px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: flex-center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 1 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90vh;
  background-color: $dark;
  position: relative;
  @include responsive(sm) {
    height: auto;
    padding-top: 192px;
  }

  @include responsive(sm) {
    height: auto;
    padding-top: 128px;
  }

  h1 {
    font-family: 'Hind';
    font-size: 76px;
    font-weight: 600;
    line-height: 1;
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    margin-top: 48px;

    @include responsive(xs) {
      font-size: 48px;
    }
  }

  p {
    color: $light;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 48px;

    @include responsive(xs) {
      font-size: 20px;
    }
  }
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  .btn-hero {
    background: $gradient-main;
    border-radius: 8px;
    padding: 12px 72px;
    color: $light;
    transition: .3s ease;
    font-size: 20px;

    @include responsive(xs) {
      padding: 12px 48px;
    }

    &:hover {
      background: linear-gradient(135.79deg,#FD4D7C .6%, #E96401 99.22%);
      transform: scale(1.025);
      box-shadow: $shadow-color;
    }
  }

  svg {
    width: 75%;
    transition: .3s ease;
    &:hover {
      transform: scale(1.08);
    }
  }
}

.bg-hero {
 width: 100%;
 height: 100%;
 overflow: hidden;
 position: absolute;
 z-index: -1;

 @include responsive(sm) {
  height: 100%;
 }

 svg {
   @include responsive(sm) {
    //  width: 250%;
   }
 }
}

.svg-bg-hero {
  width: 120%;

  @include responsive(sm) {
    width: 250%;
  }
}

.hero-arrow-down {
  display: block;
  width: 100px;
  position: absolute;
  bottom: 5%;
  animation: arrow-down 2s ease infinite alternate;
  overflow: hidden;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0) scale(.8);
    overflow: hidden;
  }
  100% {
    transform: translateY(15px) scale(.9);
    overflow: hidden;
  }
}

// people
.infos {
  @include responsive(lg) {
    flex-basis: 570px;
  }

  @include responsive(md) {
    flex-basis: 570px;
  }
}

.section-people {
  padding-top: 96px;
  padding-bottom: 96px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Hind';
  background: $gradient-main;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -8px;
}

.title {
  color: $dark;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 4px;
}

.paragraph {
  color: $gray-5;
  font-size: 16px;
  margin-bottom: 32px;
  padding-right: 16px;
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 72px;
  margin-bottom: 16px;

  strong {
    font-size: 16px;
    margin-bottom: -4px;
    display: block;
  }

  p {
    color: $gray-5;
    font-size: 14px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    border-radius: 40px;
    top: 11px;
    height: 36px;
    width: 36px;
    // background: red;
    background: url('../../svg/check-icon.svg');
    background-size: cover;
    box-shadow: $shadow-black;
  }
}

.list-link {
  display: flex;
  margin-top: 32px;

  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  svg {
    width: 12px;
    margin-bottom: 3px;
    transition: .3s ease;
  }

  span {
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    transition: .3s ease;
  }

  &:hover {
    svg {
      transform: translateX(3px);
    }

    span {
      filter: brightness(1.3);
    }
  }
}

.best {
  background-color: #FFFFFF;
  border-radius: 64px;
  box-shadow: $shadow-color;
  padding: 81px 64px;
  gap: 24px;
  margin: 0 24px;

  @include responsive(sm) {
    text-align: center;
  }

  h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Hind';
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -8px;
  }

  h3 {
    color: $dark;
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    margin-top: 16px;
  }

  p {
    @include c5;
    font-weight: 600;
    font-size: 14px;
    color: $gray-4;
    margin-top: 4px;
  }
}

.best svg {
  box-shadow: $shadow-color;
  width: 72px;
  height: 72px;
  border-radius: 16px;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.best-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

  @include responsive(sm) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}